body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8f6;
    color: #5a2d1d;
}

header {
    background: linear-gradient(135deg, #f8d9dd, #f6c8cf);
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    color: #8a2042;
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

section {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

h2 {
    color: #8a2042;
}
.sobre{
    max-width:1000px;
    margin:auto;
    padding:60px 20px;
    display:flex;
    align-items:center;
    gap:40px;
}

.sobre img{
    width:320px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.sobre div{
    flex:1;
}

.sobre p{
    font-size:18px;
    line-height:1.8;
}
.cardapio{
    background:#f8d9dd;
    padding:80px 20px;
    text-align:center;
}

.cardapio h2{
    margin-bottom:40px;
    font-size:40px;
}

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

.card{
    background:white;
    width:250px;
    padding:25px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

.card h3{
    color:#8a2042;
}

.card span{
    display:block;
    margin-top:15px;
    font-size:22px;
    font-weight:bold;
    color:#8a2042;
}
.botao-whats{
    display:inline-block;
    margin-top:20px;
    padding:15px 35px;
    background:#8a2042;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}
@media screen and (max-width:768px){

    header h1{
        font-size:2.3rem;
    }

    .sobre{
        flex-direction:column;
        text-align:center;
        gap:20px;
    }

    .sobre img{
        width:90%;
        max-width:320px;
    }

    .cards{
        flex-direction:column;
        align-items:center;
    }

    .card{
        width:90%;
        max-width:320px;
    }

    body{
        overflow-x:hidden;
    }
}